body {
    #{selector-unify("section","#main-interview-two")} {
        min-height: 100vh;
        display: flex;

        & div.content {
            flex: 0 0 100%;
            margin: auto;
            & > div.pictures-container {
                width: 100%;
                margin: auto;
                display: flex;
                margin-bottom: 8%;
                justify-content: center;
                & > div.spatio-ratio-circle {
                    width: 15%;
                    @include breakpoint($mobile-break-point) {
                        width: 30%;
                    }
                    display: inline-block;
                    & > div.circle-pic {
                        padding-top: 100%;
                        border-radius: 50%;
                    }
                }
                & > div#middle-circle-pic {
                    margin: 0 7%;
                    border: 12px double;
                    border-color: darken($dark-main-color, 10) transparent transparent transparent;
                    border-radius: 50%;
                    transform: rotate(0deg);
                    animation-name: border-soft-spinner;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                    @include breakpoint($mobile-break-point) {
                        border: 5px double;
                        border-color: darken($dark-main-color, 10) transparent transparent transparent;
                    }
                    & > div {
                        background-image: url("./../images/1.jpg");
                        background-size: cover;
                        background-position: 50% 50%;
                        transform: rotate(0deg);
                        animation-name: border-soft-spinner-handler;
                        animation-duration: 2s;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                    }
                }
                & > div#left-circle-pic,
                & > div#right-circle-pic {
                    transform: scale(0.65);
                }
                & > div#left-circle-pic > div {
                    background-image: url("./../images/2.jpg");
                    background-size: cover;
                    background-position: 50% 50%;
                }
                & > div#right-circle-pic > div {
                    background-image: url("./../images/5.jpg");
                    background-size: cover;
                    background-position: 50% 50%;
                }
            }
            & > div.description-container {
                & > h1.title {
                    font-family: lobster;
                    color: darken($dark-main-color, 5);
                    font-size: 60px;
                    text-shadow: -3px 5px rgb(0 0 0 / 90%);
                    text-align: center;
                    margin-bottom: 4%;
                    & > span {
                        color: rgb(50, 50, 50);
                        text-shadow: none;
                    }
                    @include breakpoint($mobile-break-point) {
                        font-size: 40px;
                    }
                }
                & > p.description {
                    color: lighten($body-font-color, 20);
                    padding: 10px 20%;
                    font-size: 20px;
                    text-align: center;
                    font-weight: bold;
                    @include breakpoint($mobile-break-point) {
                        font-size: 16px;
                        padding: 0 10%;
                    }
                }
            }
        }
    }
}
